.loginContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
  padding-top: 3em;
}
.login {
  border: solid 3px #007bff;
  border-radius: 13px;
  grid-column: 2/3;
  grid-row: 1;
  width: 100%;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .login {
    grid-column: 1/4;
  }
}

h1 {
  text-align: center;
}
