.loginContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fill, 150px);
}
.login {
  border: solid 3px #007bff;
  border-radius: 13px;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .login {
    margin-left: 15%;
    margin-right: 15%;
  }
}

h1 {
  text-align: center;
}
