.homePageWrapper {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.homePageContainer {
  display: grid;
  font-size: 1.25em;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 50px);
}

.userDisplay {
  justify-content: center;
  padding-right: 1%;
  margin: 5px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 12;
}
.profileDisplay {
  justify-content: center;
  padding-left: 1%;
  margin: 5px;
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 12;
}
.card-title {
  align-self: center;
}
.card-img-bottom {
  max-height: 400px;
  min-height: 200px;
  object-fit: cover;
}
