.workoutHome {
  background-color: white;
  /* background: url("https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; */
}

.workout {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(4, 300px);
}

.workoutNavContainer {
  padding-left: 0.6%;
  width: 100%;
}

.workoutHome {
  font-size: 1.25em;
  border: solid #343a40 2px;
  border-radius: 5px;
  padding: 5%;
  height: 100%;
  width: 100%;
  min-height: 800px;
  grid-column-start: 2;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: auto;
  text-align: center;
}
.workoutMain {
  border: solid #343a40 2px;
  border-radius: 5px;
  background-color: #f8f9fa;
  padding: 2%;
  height: 100%;
  width: 100%;
  min-height: 500px;
  grid-column-start: 5;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: auto;
  overflow: auto;
}

h3 {
  font-weight: bold;
  text-align: center;
}

.wendlerSelect {
  color: black;
  align-items: flex-start;
}

th.set {
  text-align: center;
  font-size: 1em;
  width: 19%;
  text-decoration: underline;
}
th.tableLeftTopCorner {
  text-align: center;
  font-size: 1.25em;
  width: 24%;
  color: #007bff;
  /* text-decoration: underline; */
}
th {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

div.card-footer {
  display: flex;
  flex-direction: row;
}
p {
  color: black;
  font-size: 0.65em !important;
  text-align: left !important;
  font-style: italic !important;
  text-emphasis: bold;
  display: block;
  width: 95%;
}
div.card-footer > .btn {
  display: block;
  align-self: center;
  height: 100%;
  width: 5%;
  margin-right: 30px;
  height: 50px;
}
@media screen and (max-width: 1200px) {
  .workoutHome {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .nav-item {
    display: block;
    flex: left;
    width: 100%;
    height: 100%;
  }
  .nav-link {
    display: block;
    flex: left;
    width: 100%;
    height: 100%;
  }
  div.card-footer {
    display: flex;
    flex-direction: column;
  }
  p {
    color: black;
    font-size: 0.65em !important;
    text-align: left !important;
    font-style: italic !important;
    text-emphasis: bold;
    display: block;
    width: 100%;
  }
  div.card-footer > .btn {
    display: block;
    align-self: center;
    margin-left: 10%;
    width: 120%;
    height: 30px;
  }
}
