.workoutHome {
  background-color: white;
  /* background: url("https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; */
}

.workout {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(4, 175px);
}

.workoutNavContainer {
  object-fit: cover;
  padding-left: 0.6%;
  width: 100%
}

.workoutNavbar {
  border: solid #343a40 2px;
  border-radius: 5px;
  padding: 5%;
  height: 100%;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 5;
  text-align: center;
}
.workoutMain {
  border: solid #343a40 2px;
  border-radius: 5px;
  background-color: #f8f9fa;
  padding: 2%;
  height: 100%;
  width: 100%;
  grid-column-start: 5;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 5;
}

h3 {
  font-weight: bold;
  text-align: center;
}
