.pageLoaderWrapper {
  border: solid black 8px;
  height: 100%;
  width: 100%;
  position: fixed;
}

@media screen and (max-width: 1200px) {
  .pageLoader {
    position: absolute;
    top: 45%;
    left: 35%;
    justify-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .pageLoader {
    position: absolute;
    top: 45%;
    left: 45%;
    justify-items: center;
  }
}
