@import url("https://fonts.googleapis.com/css?family=Work+Sans");

.appWrapper {
  border: solid black 10px;
  height: 100%;
  width: 100%;
  position: fixed;
  font-family: "Work Sans" !important;
}
