@import url("https://fonts.googleapis.com/css?family=Work+Sans");

.appWrapper {
  border: solid black 8px;
  height: 100%;
  width: 100%;
  position: fixed;
  font-family: "Work Sans" !important;
}

div.card.outer {
  background: url("https://i.pinimg.com/originals/96/6a/7b/966a7b0fa51a0e145aa6b2fe8cd56923.jpg");
}
