.strengthProfileContainer {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: 1;
  margin: auto;
  padding-top: 3em;
}

.strengthProfile {
  border: solid 3px #007bff;
  border-radius: 13px;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
  margin: auto;
}

h1 {
  text-align: center;
}
